.row
  .col-lg-4.col-lg-offset-1
    .jumbotron.text-center.signing 
  .col-lg-6
    %h1.text-center Sign up
    %table.table
      %tr
        %td
          = render 'form'
      %tr
        %td
          = render "devise/shared/links"  
